<div class="container" style="background:green;">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img class="card-img-top" src="{{ asset('images/logo.jpg') }}" alt="Symfony!" style="width: 10%;"/>
        
            <span class="fs-4"><h1>Food Store</h1></span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ path('app_product_index') }}" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
            <li class="nav-item"><a href="{{ path('app_product_index') }}" class="nav-link">Products</a></li>
        {% if app.user %}
    <li class="nav-item"><a class="nav-link">Hello {{ app.user.firstName }} {{ app.user.lastName }}</a></li>
{% endif %}
<li class="nav-item">
    <a href="/{{ app.user ? 'logout' : 'login' }}" class="nav-link">
        {{ app.user ? 'Logout' : 'Login' }}
    </a>
</li>

            
        </ul>
    </header>
</div>
